<html>
  <head>
    <link rel="stylesheet" href="/assets/third-party/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="/">GAuthenticator</a>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome!</h1>
        <p>Enable 2-Step Verification</p>
        <p><a class="btn btn-primary btn-lg" href="contact" role="button">Register Here</a></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Protect your site over password stolen</h4>
          <p>2-Step Verification helps protect a user's account from unauthorized access should someone manage to obtain their password</p>
          <a class="btn btn-success" href="two-step" role="button">View details</a>
        </div>
        <div class="col-md-4">
          <h4>Generate Tokens in your Mobile</h4>
          <p>Install Google Authenticator in your mobile and generate tokens, so you can access to your website usgin 2 steps verfication</p>
          <a class="btn btn-success" href="form" role="button">View details</a>
        </div>
        <div class="col-md-4">
          <h4>Test our API</h4>
          <p>See how you can easily generate tokens and validate those in our API</p>
          <a class="btn btn-success" href="batch" role="button">View details</a>
        </div>
      </div>
    </div>
    <footer>
      <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <a class="navbar-brand" href="http://josdem.io">© josdem.io 2016</a>
      </nav>
    </footer>
  </body>
</html>

