<html>
  <head>
    <link rel="stylesheet" href="/assets/third-party/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="/">GAuthenticator</a>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h1>Protect your site over password stolen</h1>
        <p>Keep your information secure</p>
        <p><a class="btn btn-primary btn-lg" href="contact" role="button">Register Here</a></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <p>Your password was stolen?</p>
        <br/>
        <h4>Get a token in order to access to your account</h4>
        <p>To use 2-Step Verification and security keys you need to have a mobile phone that can receive the verification code via an Android or iPhone. These devices use the Google Authenticator mobile app to generate the verification code.</p>
        <p><strong>Steps:</strong></p>
        <ul>
          <li>Install Google Authenticator App</li>
          <li>Get a key from our API</li>
          <li>Setup your Google Authenticator account in your mobile</li>
          <li>Connect your site with out API</li>
        </ul>
      </div>
    </div>
    <br/><br/><br/>
    <footer>
      <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <a class="navbar-brand" href="http://josdem.io">© josdem.io 2016</a>
      </nav>
    </footer>
  </body>
</html>

